@font-face {
    font-family: "Avenir Roman" ;
    src: url(../logo-nopad.svg) format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Avenir Roman", sans-serif; 
}

.btn{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #f9f9f9;
    background: rgba(0, 0, 0, 0.6) ;
    padding: 10px 14px;
    border: 1px solid #f9f9f9;
    border-radius: 4px;
    display: inline-block;
    transition: 0.2s ease
}

.btn:hover {
    background: white;
    color: #000;
}

.main{
    background:  url(../img/bg.jpg) no-repeat top center; 
    background-size: cover;
    height: 110vh;
}

.content__plan{
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}

h3{
    font-size: 30px;
}

.logo{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.btn__primary{
    display: flex;
    justify-content: center;
    margin: 30px 0 20px 0;
    background: #0063e5;
    padding: 20px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    border-color: #0063e5;
}

.btn__primary:hover{
    background: #056ef7;
}

.footnote{
    font-size: small;
    text-align: center;
    margin-bottom: 30px;
}

.link{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.info__price{
    text-align: center;
}

.content__info{
    float: left;
    background: #040814;
    height: 100vh;
    padding-top: 100px;
    padding-left: 50px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}


.img__tv img{
    width: 600px;
    height: 480px;
}

.text__content{
    display: flex;
}
.content h2{
    font-size: 40px;
    margin-bottom: 40px;
}

.content p{
    font-size: 25px;
    padding-right: 45px;
    text-align: justify;
}

.content__combo{
    float: left;
    background: #040814;
    padding-top: 100px;
    padding-left: 50px;
    height: 100vh;
}

.content__combo .content p{
    font-size: 18px;
    padding-right: 45px;
    text-align: justify;
}

.content__combo .grid > div:first-child{
    order: 2;
}

.content a{
    display: flex;
    margin-top: 30px;
    margin: 30px 0 20px 0;
    background: #0063e5;
    padding: 20px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    border-color: #0063e5;
    width: 400px;
    justify-content: center;
}

.content__download{
    float: left;
    background: #040814;
    padding-top: 100px;
    padding-left: 50px;
    height: 100vh;
}

.img__leao{
    width: 600px;
    height: 480px;
}

